* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin-top: 60px;
  text-align: center;
}

h2 {
  margin: 20px 0 0 20px;
  position: relative;

  &::before {
    content: "";
    width: 40px;
    height: 4px;
    background-color: #085eae;
    display: inline-block;
    position: absolute;
    bottom: -4px;
    left: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 480px;
  padding-inline: 40px;
  margin: 0 auto;

  label {
    padding-left: 20px;
    margin: 16px 0 10px 0;
    font-size: 1.2rem;
  }

  input,
  textarea {
    padding: 4px;
    outline: none;
    font-size: 1rem;
    max-width: 100%;
    width: 360px;
    padding-left: 10px;
    margin: 0 auto;
  }

  .btn {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    max-width: 380px;
  }

  .sair {
    margin-left: 10px;
  }

  button {
    max-width: 100%;
    background-color: #085eae;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 14px 20px;
    margin: 18px auto 0 auto;
    transition: all 0.5s ease;

    &:hover {
      background-color: #1978d1;
    }
  }

  ul {
    list-style: none;
    margin-top: 20px;
    padding-inline: 20px;

    li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      color: #1978d1;
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 4px;

      .deletarBtn {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

@media (width > 760px) {
  h1 {
    margin: 120px 0 20px 0;
  }

  h2 {
    margin-left: 0;
  }

  .container {
    width: 820px;

    label {
      padding-left: 0;
    }

    input,
    textarea {
      width: 760px;
    }
  }

  ul {
    width: 720px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 0;
    }
  }
}
